<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style1.css')}}">
</head>
<body>
     <header>
        <h1 class="h_h1">SNAP BANKING BOT</h1>
        <hr>
        <nav class="h_nav">
            <a class="h_a" href="/">Home</a>
            <a class="h_a" href="/second" target="blank">About Us</a>
            <span class="nav_lr"><a class="h_a" href="/loginReg">Login/Register</a></span>
        </nav>
    </header>
    <div>
    </div>
    <div class="container">
        <img class="i2" src="{{url_for('static', filename='image/b1.png')}}" alt="" style="width:100%">
        <h3 class="pos p1">INVESTING IN</h3>
        <h3 class="pos p2">TOMORROW'S</h3>
        <h3 class="pos p3">LEADERS</h3>  
    </div>
<footer>
    <a href="">Contact</a>
    <a href="">FAQ</a>
    <a href="">Term of use</a>
    <a href="">Privacy</a>
    <a href="">Policy</a>
</footer>
</body>
</html>